<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>User Login</title>
</head>

<body>
  
    <nav style="background-color:#6987e7;position: fixed;">
        <center>
            <div><span style="font-size:20px;">Login Form</span></div>
        </center>
    </nav>
    <br><br><br><br>
    <div class="container" id="container">
        <% if(data === 1) {%>
            <div class="alert alert-danger" role="alert">
                <center>Entered Username or Password is Wrong</center>
              </div>
            <%}%>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <form action="/customer" method="post" onsubmit="return login_validate();" style="width:100%;">
                        

                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input type="email" placeholder="yourmailid@emailprovider.domain" id="emailid"
                                name="emailid" required>
                                <i class="material-icons prefix" style="visibility: hidden;color:green;" id="email_check">check</i>
                            <label id="email_label" ><b>Email Id</b></label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">password</i>
                            <input type="password" placeholder="password" id="password"
                                name="password" 
                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 16 characters"
                                required>
                                <i class="material-icons prefix" id="check" >visibility_off</i>
                            <label id="password_label"><b>Password</b></label>
                        </div>
                        
                        <br>
                        <div>
                            <center>
                                <p>Not a member ? <a href="/customer/signup">Register</a></p>
                                <button class="waves-effect btn"  >Login</button></center>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

</div>
    <script>
        if(screen.width < 768)
        {
           document.getElementById("container").className = "container-fluid" ;
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="input-check.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    

</body>

</html>
